@model GetTechnologyByIdQueryResult
@{
    Layout = "../Shared/_DashboardLayout.cshtml";
}

<div class="card mt-5">
    <div class="card-body">
        <h4 class="header-title">Teknoloji Güncelle</h4>

        <form asp-controller="Portfolio" asp-action="UpdateTechnology" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
            <input type="hidden" value="@Model.Icon" asp-for="@Model.Icon" />
            <div class="mb-4">
                <label asp-for="@Model.Title">Adı</label>
                <input class="form-control" type="text" asp-for="@Model.Title" value="@Model.Title">
                <span class="text-danger" asp-validation-for="@Model.Title"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.Icon">Icon </label>
                <input class="form-control" type="file" accept="image/*" name="IconFile">
                <span  class="text-danger" asp-validation-for="@Model.Icon"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.ColorCode">Renk Kodu</label>
                <input class="d-block" style="padding:0px;" type="color" value="@Model.ColorCode" asp-for="@Model.ColorCode">
                <span class="text-danger" asp-validation-for="@Model.ColorCode"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.order">Sıra Numarası(opsiyonel)</label>
                <input class="form-control" type="number" value="@Model.order" asp-for="@Model.order">
                <span class="text-danger" asp-validation-for="@Model.order"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>

        </form>
    </div>
</div>