@model GetEducationByIdQueryResult
@{
    Layout = "../Shared/_DashboardLayout.cshtml";
}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="header-title">Eğitim Ekle</h4>

        <form asp-controller="Portfolio" asp-action="UpdateEducation" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.Image" value="@Model.Image"/>
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
            <label class="ml-1" for="educationImg">Kapak Resmi</label>

            <div class="input-group mb-5">

                <label class="img-label" for="educationImg">
                    <div class="overlay">
                    </div>
                </label>

                <input id="educationImg" type='file' accept='image/*' name="educationImg"
                       onchange='openFile(event)'>

                <div class="output-div" id="output-div" title="Tıklayın">
                    <div id="output-img-div">
                        <img class="output-img" src="~/images/@Model.Image" alt="not found">
                    </div>
                    <img class="output" id='output'>
                </div>
                <span class="text-danger" asp-validation-for="@Model.Image"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.Title">Eğitim Adı</label>
                <input class="form-control" type="text" asp-for="@Model.Title">
                <span class="text-danger" asp-validation-for="@Model.Title"></span>
            </div>

            <div class="mb-4">
                <label asp-for="@Model.Url">Eğitim Url</label>
                <input class="form-control" type="text" asp-for="@Model.Url">
                <span class="text-danger" asp-validation-for="@Model.Url"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.Order">Sıra(opsiyonel)</label>
                <input class="form-control" type="number" asp-for="@Model.Order" value="1">
                <span class="text-danger" asp-validation-for="@Model.Order"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.StudentCount">Öğrenci Sayısı</label>
                <input class="form-control" type="number" asp-for="@Model.StudentCount" value="@Model.StudentCount">
                <span class="text-danger" asp-validation-for="@Model.StudentCount"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.Definition">Kısa Tanım</label>
                <textarea id="definition" class="form-control" asp-for="@Model.Definition"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Definition"></span>
            </div>
           

            <div class="mb-4">
                <label asp-for="@Model.Content">İçerik</label>
                <textarea id="editor" class="form-control" asp-for="@Model.Content"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Content"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.CouponCode">Kupon Kodu(opsiyonel)</label>
                <input class="form-control" asp-for="@Model.CouponCode">
                <span class="text-danger" asp-validation-for="@Model.CouponCode"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>

        </form>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#editor').summernote({
                height: 600
            });
            $('#definition').summernote({
                height: 200
            });
        });
    </script>
    <script>
        var openFile = function (event) {

            var input = event.target
            var path = input.files[0].name
            var extn = path.substring(path.lastIndexOf('.') + 1).toLowerCase()
            if (extn == "png" || extn == "jpg" || extn == "jpeg" || extn == "svg") {
                var reader = new FileReader()

                reader.onload = function () {

                    var dataURL = reader.result
                    var output = document.getElementById('output')
                    output.src = dataURL
                    var outputDiv = document.getElementById("output-div")
                    var outputImgDiv = document.getElementById("output-img-div")

                    outputImgDiv.style.display = "none"
                    output.style.display = "inline"

                }
                reader.readAsDataURL(input.files[0])
            } else {
                toastr.info("Desteklenmeyen Dosya Türü")
            }
        }
    </script>
}
@section links{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css">

    <style>

        /*for images*/
        input[type="file"] {
            position: absolute;
            left: -9999rem
        }

        .overlay {
            opacity: 0;
            background: gray;
            position: absolute;
            width: 23rem;
            height: auto !important;
            border-radius: .7rem;
        }

        .img-label {
            border: 2px solid var(--first);
            display: inline-block;
            position: absolute;
            width: 23rem;
            height: 14rem !important;
            border-radius: .7rem;
            cursor: pointer;
        }

            .img-label:hover #overlay {
                opacity: 0.8;
            }

        .output {
            display: none;
            z-index: 5;
            width: 23rem !important;
            height: auto !important;
            border-radius: 1rem;
        }

        .output-img {
            background-position: center;
            width: 23rem !important;
            height: auto !important;
            border-radius: .7rem;
        }

        .output-div {
            margin-bottom: .7rem;
        }
    </style>
}